<!DOCTYPE html>
<html>
<head>
    <title>Modificar parámetros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/config.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/INICIO" data-text="INICIO">INICIO</a></li>
                <li><a href="/CONFIG" id="config-link" data-text="CONFIGURACIONES">CONFIGURACIONES</a></li>
                <li><a href="/ALERTAS" data-text="ALERTAS">ALERTAS</a></li>
                <li><a href="/ESTADISTICAS" data-text="ESTADISTICAS">ESTADÍSTICAS</a></li>
                <li><a href="/ABOUTAPI" data-text="ACERCA DE LA API">ACERCA DE LA API</a></li>
                <li><a href="/CONTACTO" data-text="CONTACTO">CONTACTO</a></li>
            </ul>
        </nav>

        <section id="MAIN-BOX">
            <button onclick="window.location.href='/CONFIG_CALL'">Modificar SCRIPT</button>
            <button onclick="window.location.href='/CONFIG_CALL_BACKUP'">Modificar SCRIPT DE BACKUP</button>
            <!-- Agrega más elementos según sea necesario -->
        </section>
    </main>
</body>
</html>
