<!DOCTYPE html>
<html>
<head>
    <title>Alertas</title>
</head>
<body>
    <h1>Gráfico de llamadas contestadas y no contestadas</h1>
    
    <!-- Mostrar el gráfico -->
    <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Gráfico de llamadas">

    <h2>Detalles de las llamadas:</h2>
    <table>
        <tr>
            <th>Contestada</th>
        </tr>
        {% for llamada in llamadas %}
        <tr>
            <td>{{ llamada[0] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
