<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS3 Creative Menu Item Hover Effects</title>
    <link rel="stylesheet" href="static/inicio.css">
</head>
<body>
    <ul>
        <li><a href="/" data-text="INICIO">INICIO</a></li>
        <li><a href="/CONFIG" data-text="CONFIGURACIONES">CONFIGURACIONES</a></li>
        <li><a href="/ALERTAS" data-text="ALERTAS">ALERTAS</a></li>
        <li><a href="/ESTADISTICAS" data-text="ESTADISTICAS">ESTADÍSTICAS</a></li>
        <li><a href="/ABOUTAPI" data-text="ACERCA DE LA API">ACERCA DE LA API</a></li>
        <li><a href="/CONTACTO" data-text="CONTACTO">CONTACTO</a></li>
    </ul>
</body>
</html>